{% extends "base.html" %}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Edit Blog - {{ title|truncate(10) }}{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
    {% call seo::get(
        title="Edit Blog - {{ title|truncate(10) }}",
        url="https://kjhjason.com/admin/blogs/{{ id }}/edit",
        desc="Edit the blog post with the title {{ title|truncate(10) }}.",
    ) %}
{% endblock %}

{% block content %}
    <button hx-on:click="goBackToBlog()" class="btn btn-primary mb-4">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
        </svg>
        Back to Blog
    </button>
    {% include "components/blog_input_div.html" %}
    <template id="title-template">{{ title }}</template>
    <template id="tags-template">{{ tags }}</template>
    <!-- using pre to avoid removing the whitespaces in the content
        https://github.com/wilsonzlin/minify-html?tab=readme-ov-file#whitespace -->
    <pre class="hidden" id="content-template">{{ content }}</pre>
{% endblock %}

{% block scripts %}
    <script nonce="{{ common.nonce }}" src="/static/js/blog.js"></script>
    <script nonce="{{ common.nonce }}">
        const goBackToBlog = () => {
            Swal.fire({
                title: "Are you sure?",
                text: "You will lose all unsaved changes!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "No",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/blogs/{{ id }}";
                }
            });
        };

        csrfHeaderName = "{{ common.csrf_header }}";
        csrfValue = "{{ common.csrf_value }}";
        useLocalStorage = false;

        let initialPublicChecked = "{{ public }}" === "true";
        isPublic.checked = initialPublicChecked;

        let initialContent = document.getElementById("content-template").innerHTML;
        updateContent(initialContent);

        let initialTags = document.getElementById("tags-template").innerHTML;
        tags.value = initialTags;

        let initialTitle = document.getElementById("title-template").innerHTML;
        updateTitle(initialTitle);

        let newFiles = [];
        fileUploadResponseHandler = (file) => {
            newFiles.push(file);
        };

        const postBlog = async () => {
            const tileVal = title.value;
            const contentVal = content.value;
            const tagsVal = tagsInp.value;

            if (tileVal.length === 0 || contentVal.length === 0) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Title and content are required!",
                });
                return;
            }

            let tagsSlice = parseTags(tagsVal);
            if (tagsVal.length > maxTags) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Max 8 tags allowed!",
                });
                return;
            }

            const data = {
                id: "{{ id }}",
            };
            if (tileVal !== initialTitle) {
                data.title = tileVal;
            }
            if (tagsVal !== initialTags) {
                data.tags = tagsSlice;
            }
            if (contentVal !== initialContent) {
                data.content = contentVal;

                // since the markdown link for the uploaded files will be 
                // added to the content, the content will be different. Hence, the check here.
                if (newFiles.length > 0) {
                    data.new_files = newFiles;
                }
            }
            if (isPublic.checked !== initialPublicChecked) {
                data.is_public = isPublic.checked;
            }

            if (Object.keys(data).length === 1) {
                return;
            }

            try {
                const response = await fetch("/api/blog/update", {
                    method: "PATCH",
                    headers: {
                        "Content-Type": "application/json",
                        "{{ common.csrf_header }}": "{{ common.csrf_value }}",
                    },
                    body: JSON.stringify(data),
                });
                if (!response.ok) {
                    throw new Error("Failed to update blog!", response);
                }
                const result = await Swal.fire({
                    icon: "success",
                    title: "Success!",
                    text: "Blog updated!",
                    confirmButtonText: "View Blog",
                    cancelButtonText: "Continue Editing",
                    showCancelButton: true,
                });
                if (result.isConfirmed) {
                    window.location.href = "/blogs/{{ id }}";
                    return;
                }

                newFiles = [];
                initialPublicChecked = isPublic.checked;
                initialTags = tagsVal;
                initialTitle = tileVal;
                const newContent = await response.text();
                initialContent = newContent;
                updateContent(newContent);
            } catch (error) {
                console.error("Error:", error);
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Failed to update blog!",
                });
            }
        };
    </script>
{% endblock %}
