{% extends "base.html" %}

{% block title %}New Blog{% endblock %}

{% block content %}
    <div class="join grid grid-cols-2 mb-8">
        <button class="join-item btn btn-outline" hx-on:click="editBtnEvt()" type="button">Edit</button>
        <form 
            class="join-item btn btn-outline !p-0" 
            id="previewBtn" 
            hx-headers='{"{{ common.csrf_header }}": "{{ common.csrf_value }}"}' 
            hx-post="/api/admin/ws/blog/preview"
            hx-target="#blog-content"
        >
            <button type="submit" class="w-full h-full" hx-on:click="previewBtnEvt()">Preview</button>
            <input type="hidden" name="content" id="content-preview">
        </form>
    </div>
    <div id="edit" class="gap-y-8 grid grid-cols-1">
        <div>
            <label for="title" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Title:</label>
            <input type="text" name="title" id="title" class="input-theme" placeholder="Hello World!" required maxlength="150" autofocus>
        </div>
        <div>
            <label for="content" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Content:</label>
            <textarea placeholder="Start typing the content for this blog in markdown!" name="content" id="content" class="input-theme" rows="25" spellcheck="true"></textarea>
        </div>
    </div>
    <div id="preview" class="accent-border reset-lists blog hidden">
        <h1 id="blog-title"></h1>
        <div id="blog-content"></div>
    </div>
    <button 
        class="btn btn-primary my-8 w-full"
        type="button" 
        hx-post="/api/admin/new/blog" 
        hx-headers='{"{{ common.csrf_header }}": "{{ common.csrf_value }}"}' 
        hx-swap="none" 
        hx-target="#content" 
        hx-on::after-swap="onSuccess(true)" 
    >
        Create Blog
    </button>

    <form id="image-upload" enctype="multipart/form-data" hx-post="/api/blog/upload/images" hx-headers='{"{{ common.csrf_header }}": "{{ common.csrf_value }}"}' hx-swap="none">
        <input type="file" name="file" id="file" accept="image/*">
        <button type="submit">Submit</button>
    </form>
{% endblock %}

{% block scripts %}
    <script nonce="{{ common.nonce }}" src="/static/js/blog.js"></script>
    <script nonce="{{ common.nonce }}">
        const uploadImage = (file) => {
            const formData = new FormData();
            formData.append("file", file, file.name);
            fetch("/api/blog/upload/images", {
                method: "POST",
                body: formData,
                headers: {
                    "content-type": "multipart/form-data",
                    "{{ common.csrf_header }}": "{{ common.csrf_value }}",
                },  
            })
                .then((response) => response.json())
                .then((data) => {
                    images.push(data.url);

                    // insert the image url into the content
                    console.log(data.images);
                    data.images.forEach((img) => {
                        content.value += `![${img.name}](${img.url})`;
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }

        // read from localstorage
        const savedContent = localStorage.getItem("content");
        if (savedContent) {
            content.value = savedContent;
            contentPreview.value = savedContent;
        }
        const savedTitle = localStorage.getItem("title");
        if (savedTitle) {
            title.value = savedTitle;
            titlePreivew.innerText = savedTitle;
        }
    </script>
{% endblock %}
