{% extends "base.html" %}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}New Blog{% endblock %}

{% block head %}
    <meta name="robots" content="noindex, nofollow">
    {% call seo::get(
        title="New Blog",
        url="https://kjhjason.com/admin/new/blog",
        desc="Create a new blog post.",
    ) %}
{% endblock %}

{% block content %}
    {% include "components/blog_input_div.html" %}
{% endblock %}

{% block scripts %}
    <script nonce="{{ common.nonce }}" src="/static/js/blog.js"></script>
    <script nonce="{{ common.nonce }}">
        // read from localstorage
        const savedContent = localStorage.getItem("content");
        if (savedContent) {
            updateContent(savedContent)
        }
        const savedTags = localStorage.getItem("tags");
        if (savedTags) {
            tags.value = savedTags;
        }
        const savedTitle = localStorage.getItem("title");
        if (savedTitle) {
            updateTitle(savedTitle);
        }

        csrfHeaderName = "{{ common.csrf_header }}";
        csrfValue = "{{ common.csrf_value }}";
        const files = loadFileInfo();
        fileUploadResponseHandler = (file) => {
            saveFileInfo(file, files);
        };

        loadTags();
        const postBlog = () => {
            const tileVal = title.value;
            const contentVal = content.value;
            const tagsVal = parseTags(tagsInp.value);

            if (tileVal.length === 0 || contentVal.length === 0) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Title and content are required!",
                });
                return;
            }
            if (tagsVal.length > maxTags) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Max 8 tags allowed!",
                });
                return;
            }

            fetch("/api/new/blog", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "{{ common.csrf_header }}": "{{ common.csrf_value }}",
                },
                body: JSON.stringify({
                    title: tileVal,
                    tags: tagsVal,
                    files: parseFileSliceForUpload(files),
                    content: contentVal,
                    is_public: isPublic.checked,
                }),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Failed to create blog!", response);
                    }
                    localStorage.removeItem("content");
                    localStorage.removeItem("tags");
                    localStorage.removeItem("title");
                    localStorage.removeItem("files");
                    return response.text();
                })
                .then((blogId) => {
                    window.location.href = `/blogs/${blogId}`;
                })
                .catch((error) => {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Failed to create blog!",
                    });
                    console.error("Error:", error);
                });
        }
    </script>
{% endblock %}
