{% extends "base.html" %}

{% block title %}New Blog{% endblock %}

{% block head %}
    <link rel="canonical" href="https://kjhjason.com/admin/new/blog" />
{% endblock %}

{% block content %}
    <div class="join grid grid-cols-2 mb-8">
        <button class="join-item btn btn-outline" hx-on:click="editBtnEvt()" type="button">Edit</button>
        <form 
            class="join-item btn btn-outline !p-0" 
            id="previewBtn" 
            hx-headers='{{ common.csrf_header_json|safe }}' 
            hx-post="/api/admin/ws/blog/preview"
            hx-target="#blog-content"
        >
            <button type="submit" class="w-full h-full" hx-on:click="previewBtnEvt()">Preview</button>
            <input type="hidden" name="content" id="content-preview">
        </form>
    </div>
    <div id="edit" class="gap-y-8 grid grid-cols-1">
        <div>
            <label for="title" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Title:</label>
            <input type="text" name="title" id="title" class="input-theme" placeholder="Hello World!" required maxlength="150" autofocus>
        </div>
        <div>
            <label for="tags" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Tags (Max 8):</label>
            <input type="text" name="tags" id="tags" class="input-theme" placeholder="Rust, Web Dev">
        </div>
        <div class="flex">
            <label for="is-public" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Public:</label>
            <input type="checkbox" name="is-public" id="is-public" class="ml-4 toggle toggle-success" checked>
            <p class="!my-0 text-xs text-neutral-900 dark:text-white">
                *Note: Assets like images that were uploaded will be public regardless of this setting.
            </p>
        </div>
        <div>
            <label for="content" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Content:</label>
            <textarea placeholder="Start typing the content for this blog in markdown!" name="content" id="content" class="input-theme" rows="25" spellcheck="true"></textarea>
        </div>
    </div>
    <div id="preview" class="blog-content hidden">
        <h1 id="blog-title"></h1>
        <div id="blog-content"></div>
    </div>
    <button 
        class="btn btn-primary my-8 w-full"
        type="button" 
        hx-on:click="postBlog()"
    >
        Create Blog
    </button>
{% endblock %}

{% block scripts %}
    <script nonce="{{ common.nonce }}" src="/static/js/blog.js"></script>
    <script nonce="{{ common.nonce }}">
        // read from localstorage
        const savedContent = localStorage.getItem("content");
        if (savedContent) {
            content.value = savedContent;
            contentPreview.value = savedContent;
        }
        const savedTags = localStorage.getItem("tags");
        if (savedTags) {
            tags.value = savedTags;
        }
        const savedTitle = localStorage.getItem("title");
        if (savedTitle) {
            title.value = savedTitle;
            titlePreivew.innerText = savedTitle;
        }

        const files = loadFileInfo();
        const uploadImage = (file) => {
            const formData = new FormData();
            formData.append("file", file);
            fetch("/api/blog/upload/files", {
                method: "POST",
                body: formData,
                headers: {
                    "{{ common.csrf_header }}": "{{ common.csrf_value }}",
                },  
            })
                .then((response) => response.json())
                .then((data) => {
                    data.files.forEach((file) => {
                        saveFileInfo(file, files);
                        content.value += parseUrlToMd(file);
                        content.dispatchEvent(new Event("input", {
                            bubbles: true,
                            cancelable: true,
                        }));
                    });
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }

        const isPublic = document.getElementById("is-public");
        loadTags();
        const postBlog = () => {
            const tileVal = title.value;
            const contentVal = content.value;
            const tagsVal = tagsInp.value
                .split(",")
                .map((tag) => tag.trim())
                .filter((tag) => tag.length > 0);

            if (tileVal.length === 0 || contentVal.length === 0 || tagsVal.length === 0) {
                alert("Title, content, and tags are required!");
                return;
            }
            if (tagsVal.length > 8) {
                alert("Max 8 tags allowed!");
                return;
            }

            fetch("/api/new/blog", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "{{ common.csrf_header }}": "{{ common.csrf_value }}",
                },
                body: JSON.stringify({
                    title: tileVal,
                    tags: tagsVal,
                    files: parseFileSliceForUpload(files),
                    content: contentVal,
                    is_public: isPublic.checked,
                }),
            })
                .then((response) => {
                    if (response.status === 200) {
                        alert("Blog created successfully!");
                        localStorage.removeItem("content");
                        localStorage.removeItem("tags");
                        localStorage.removeItem("title");
                        localStorage.removeItem("files");
                        window.location.href = "/admin/blog";
                    } else {
                        alert("Failed to create blog!");
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
{% endblock %}
