{% extends "base.html" %}
{%- import "components/award.html" as award -%}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Awards{% endblock %}

{% block head %}
    <link rel="canonical" href="https://kjhjason.com/awards" />
    {% call seo::get(
        title="Awards",
        url="https://kjhjason.com/awards",
        desc="Here are the awards that I have received over the years.",
    ) %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for award in awards %}
            {% call award::get(award) %}
        {% endfor %}
    </div>
{% endblock %}
