{% extends "base.html" %}
{%- import "components/tags.html" as tags -%}

{% block title %}Blogs{% endblock %}

{% block head %}
    <link rel="canonical" href="https://kjhjason.com/blogs" />
{% endblock %}

{% block content %}
    <section>
        <h1 class="font-medium text-2xl mb-8 tracking-tighter">My Blogs</h1>
        {% if blogs.len() == 0 %}
            <article>
                <h2 class="!font-normal !text-base text-neutral-900 dark:text-neutral-100">No blogs yet...</h2>
            </article>
        {% endif %}
        {% for blog in blogs %}
            <a class="flex flex-col space-y-1 mb-4" href="/blogs/{{ blog.id }}">
                <article class="w-full flex flex-col">
                    <h2 class="!my-0 !font-normal !text-base text-neutral-900 dark:text-neutral-100 tracking-tight">
                        {{ blog.title }}
                    </h2>
                    <p class="!my-0 text-neutral-600 dark:text-neutral-400">
                        <span class="blog-date">{{ blog.date }}</span> ({{ blog.views }} views)
                    </p>
                    {% call tags::parse_tags(blog.tags|as_ref) %}
                </article>
            </a>
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script nonce="{{ common.nonce }}" src="/static/js/date.js"></script>
    <script nonce="{{ common.nonce }}">
        document.querySelectorAll(".blog-date").forEach((date) => {
            date.innerText = parseDateToLocal(date.innerText);
        });
    </script>
{% endblock %}
