{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 class="title font-medium text-2xl tracking-tighter max-w-[650px]" id="blog-title">{{ title }}</h1>
    <div class="flex justify-between items-center mt-2 mb-8 text-sm max-w-[650px]">
        <p class="text-sm text-neutral-600 dark:text-neutral-400">{{ date }} ({{ readable_date }})</p>
        <p class="text-neutral-600 dark:text-neutral-400">{{ views }} views</p>
    </div>
    <div class="blog-content">
        {{ content | safe }}
    </div>
{% endblock %}

{% scripts %}
<script nonce="{{ common.nonce }}">
    
    
</script>
{% endblock %}
