{% extends "base.html" %}
{%- import "components/certificate.html" as certificate -%}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Certificates{% endblock %}

{% block head %}
    {% call seo::get(
        title="Certificates",
        url="https://kjhjason.com/certificates",
        desc="Here are the certificates that I have acquired over the years.",
    ) %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for cert in certificates %}
            {% call certificate::get(cert) %}
        {% endfor %}
    </div>
{% endblock %}
