{% extends "base.html" %}
{%- import "components/experience.html" as experience -%}

{% block title %}Experiences{% endblock %}

{% block head %}
    <link rel="canonical" href="https://kjhjason.com/experiences" />
{% endblock %}

{% block content %}
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        {% for (i, exp) in experiences.iter().enumerate() %}
            {% call experience::get(
                left_aligned=i % 2 == 0,
                experience=exp,
            ) %}
        {% endfor %}
    </ul>
{% endblock %}
