{% extends "base.html" %}
{%- import "components/experience.html" as experience -%}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Experiences{% endblock %}

{% block head %}
    {% call seo::get(
        title="Skills",
        url="https://kjhjason.com/experiences",
        desc="Here are the details of my Educational backgrounds and Work experiences that I have acquired over the years.",
    ) %}
{% endblock %}

{% block content %}
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        {% for (i, exp) in experiences.iter().enumerate() %}
            {% call experience::get(
                left_aligned=i % 2 == 0,
                experience=exp,
            ) %}
        {% endfor %}
    </ul>
{% endblock %}
