{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
    <h1 class="mb-8 !mt-0">Hello there, I'm Jason 👋</h1>
    <p>
        I'm an aspiring software engineer and soon to be a student at the <a href="https://www.smu.edu.sg/" target="_blank">Singapore Management University</a> from 2026/2027 to pursue my Bachelor of Science (Computer Science) degree after completing my National Service.
    </p>
    <p>
        Although I hold a diploma in Cybersecurity & Digital Forensics from <a href="https://www.nyp.edu.sg/student" target="_blank">Nanyang Polytechnic</a>, the knowledge I gained from my diploma has helped me understand the importance of security in software development. My tenure at <a href="https://www.nyp.edu.sg/student" target="_blank">Nanyang Polytechnic</a> has instilled in me a passion for developing software with security in mind, by writing secure code and following best security practices such as the <a href="https://owasp.org/www-project-top-ten/" target="_blank">OWASP Top 10</a> during my development process.
    </p>

    <div class="grid grid-cols-2 gap-4 my-8">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/mirai-1.png" alt="Project: Mirai Chat Feature">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/cultured-downloader-python-old.png" alt="Project: Cultured Downloader Python CLI App">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/mirai-2.png" alt="Project: Mirai Register Page">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/cultured-downloader.png" alt="Project: Cultured Downloader GUI App">
            </div>
        </div>
    </div>

    <p>
        Fun fact! I did not start with a programming background and only began learning programming in my first year of polytechnic. I started with Python for my school projects, which I really struggled with in the first few months of learning how to code. Afterwards, I moved on to C++ for competitive programming on <a href="https://codeforces.com/profile/Dratornic" target="_blank">Codeforces</a>, which I did for fun. I then learnt Go for personal projects, such as <a href="https://github.com/KJHJason/Cultured-Downloader" target="_blank">Cultured Downloader</a>. Afterwards, during my internship at <a href="https://www.stoneforest.com.sg/" target="_blank">RSM StoneForest</a>, I learnt C# for web development and then moved on to learning Rust, which I used for this website! What is my next language going to be? I wonder!
    </p>

    <p>
        Other than software development, I enjoy learning Japanese, watching anime or reading manga, and playing video games like <a href="https://store.steampowered.com/app/739630/Phasmophobia/" target="_blank">Phasmophobia</a>. Moreover, I enjoy listening to <a href="https://porterrobinson.com/" target="_blank">Porter Robinson</a>'s works, like his "<a href="https://en.wikipedia.org/wiki/Nurture_(album)" target="_blank">Nurture</a>" album. It really drives me to improve myself as a person and to really enjoy the little things in life.
    </p>

    <div class="grid grid-cols-2 grid-rows-3 sm:grid-cols-3 gap-4 my-8">
        <div class="relative h-40">
            <img src="https://storage.kjhjason.com/photos/IMG_3090.jpg" alt="Genting" class="rounded-lg object-cover w-full h-full">
        </div>
        <div class="relative sm:row-span-2 row-span-1">
            <img src="https://storage.kjhjason.com/photos/IMG_5588.jpg" alt="Zao Onsen Ski" class="rounded-lg object-cover sm:object-top object-center h-40 w-full sm:h-full ">
        </div>
        <div class="relative h-40">
            <img src="https://storage.kjhjason.com/photos/IMG_5620.jpg" alt="Zao Onsen Snow" class="rounded-lg object-cover w-full h-full">
        </div>
        <div class="relative sm:row-span-2 row-span-1">
            <img src="https://storage.kjhjason.com/photos/IMG_6618.jpg" alt="Kyoto Fushimi Inari Shrine" class="rounded-lg object-cover h-40 w-full sm:h-full">
        </div>
        <div class="relative sm:row-span-2 row-span-1">
            <img src="https://storage.kjhjason.com/photos/IMG_7458.jpg" alt="Tokyo Tower and Cherry Blossoms" class="rounded-lg object-cover h-40 w-full sm:h-full">
        </div>
        <div class="relative h-40">
            <img src="https://storage.kjhjason.com/photos/IMG_8145.jpg" alt="Bocchi Plushie drinking beer" class="rounded-lg object-cover w-full h-full">
        </div>
    </div>

    <p>
        If you would like to get in touch with me, feel free to drop me an email at <a href="mailto:contact@kjhjason.com">contact@kjhjason.com</a>!
        I'm always open to new opportunities and collaborations, so don't hesitate to reach out to me!
    </p>
{% endblock %}
