{% extends "base.html" %}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Projects{% endblock %}

{% block head %}
    {% call seo::get(
        title="Projects",
        url="https://kjhjason.com/projects",
        desc="Here are some of the projects I have worked on for the past few years. These projects range from personal projects to school projects, and most of them are open-source.",
    ) %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {% for project in projects %}
            <div class="card accent shadow-xl">
                <figure>
                    <img class="h-44 w-full object-cover object-top" src="{{ project.img }}" alt="{{ project.img_alt }}" />
                </figure>
                <div class="card-body !pt-4">
                    <h2 class="card-title !my-2">
                        <span class="mr-auto">
                            {{ project.title }}
                        </span>
                        {% if !project.link.is_empty() %}
                            <a href="{{ project.link }}" target="_blank" class="btn-text-link" title="GitHub Repository">
                                {% if project.link.starts_with("https://github.com") %}
                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd" />
                                    </svg>
                                {% else %}
                                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                                    </svg>
                                {% endif %}
                            </a>
                        {% endif %}
                        {% if !project.presentation_link.is_empty() %}
                            <a href="{{ project.presentation_link }}" target="_blank" class="btn-text-link" title="Relevant Documentation/Presentation Slides">
                                <svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                    <g>
                                        <rect x="30" y="33.999" width="4" height="8"/>
                                        <rect x="30" y="19.999" width="4" height="12"/>
                                        <rect x="18" y="27.999" width="4" height="6"/>
                                        <rect x="18" y="35.999" width="4" height="6"/>
                                        <rect x="42" y="11.999" width="4" height="18"/>
                                        <path d="M60,3.999H35v-1c0-1.657-1.343-3-3-3s-3,1.343-3,3v1H4c-2.211,0-4,1.789-4,4v38c0,2.211,1.789,4,4,4h19.888 l-5.485,9.5c-0.829,1.435-0.338,3.27,1.098,4.098s3.27,0.337,4.098-1.098l7.217-12.5h2.37l7.217,12.5 c0.829,1.436,2.663,1.927,4.099,1.098c1.436-0.828,1.926-2.662,1.098-4.098l-5.485-9.5H60c2.211,0,4-1.789,4-4v-38 C64,5.788,62.211,3.999,60,3.999z M31,2.999c0-0.553,0.447-1,1-1s1,0.447,1,1v1h-2V2.999z M28,18.999c0-0.553,0.447-1,1-1h6 c0.553,0,1,0.447,1,1v25h-8V18.999z M16,26.999c0-0.553,0.447-1,1-1h6c0.553,0,1,0.447,1,1v17h-8V26.999z M21.866,61.499 c-0.276,0.479-0.888,0.643-1.366,0.365c-0.479-0.275-0.643-0.887-0.365-1.365l6.062-10.5h2.309L21.866,61.499z M43.865,60.499 c0.277,0.479,0.113,1.09-0.365,1.366s-1.09,0.112-1.366-0.366l-6.64-11.5h2.309L43.865,60.499z M48,43.999h-8v-33 c0-0.553,0.447-1,1-1h6c0.553,0,1,0.447,1,1V43.999z"/>
                                        <rect x="42" y="31.999"  width="4" height="10"/>
                                    </g>
                                </svg>
                            </a>
                        {% endif %}
                    </h2>
                    <p class="!mt-0 text-sm">
                        {{ project.date }}
                        <br /><br />
                        {{ project.desc|safe }}
                    </p>
                    {% if project.tags.len() > 0 %}
                        <div class="card-actions justify-end">
                            {% for tag in project.tags %}
                                <div class="badge badge-outline">{{ tag }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
