{% extends "base.html" %}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Resume{% endblock %}

{% block head %}
    {% call seo::get(
        title="Resume",
        url="https://kjhjason.com/resume",
        desc="Here is my resume where you can view or download it."
    ) %}
{% endblock %}

{% block content %}
    {% let pdf_url = "/static/pdfjs/web/viewer.html?file=https%3A%2F%2Fstorage.kjhjason.com%2Fresume.pdf" %}
    <section>
        <h1>Resume</h1>
        <a class="btn-text-link" href="{{ pdf_url }}" target="_blank">View in full-screen</a>
        <iframe class="mt-4 w-full h-[600px] md:h-[800px]" src="{{ pdf_url }}" title="webviewer" frameborder="0"></iframe>
    </section>
{% endblock %}
