{% extends "base.html" %}
{%- import "components/skill.html" as skill -%}

{% block title %}Skills{% endblock %}

{% block head %}
    <link rel="canonical" href="https://kjhjason.com/skills" />
{% endblock %}

{% block content %}
<h3 class="skills-header !mt-0">Languages</h3>
<div class="skills">
    {% call skill::get(
        link="https://wikipedia.org/wiki/HTML",
        img_src="/static/images/skills/html.png",
        name="HTML"
    ) %}
    {% call skill::get(
        link="https://wikipedia.org/wiki/CSS",
        img_src="/static/images/skills/css.png",
        name="CSS"
    ) %}
    {% call skill::get(
        link="https://wikipedia.org/wiki/JavaScript",
        img_src="/static/images/skills/js.png",
        name="JavaScript"
    ) %}
    {% call skill::get(
        link="https://www.python.org/",
        img_src="/static/images/skills/python.png",
        name="Python"
    ) %}
    {% call skill::get(
        link="https://en.wikipedia.org/wiki/C%2B%2B",
        img_src="/static/images/skills/cpp.png",
        name="C++"
    ) %}
    {% call skill::get(
        link="https://go.dev/",
        img_src="/static/images/skills/go.png",
        name="Go/Golang"
    ) %}
    {% call skill::get(
        link="https://learn.microsoft.com/en-us/dotnet/csharp/",
        img_src="/static/images/skills/csharp.png",
        name="C#"
    ) %}
    {% call skill::get(
        link="https://www.typescriptlang.org/",
        img_src="/static/images/skills/ts.png",
        name="TypeScript"
    ) %}
    {% call skill::get(
        link="https://www.rust-lang.org/",
        img_src="/static/images/skills/rust.png",
        name="Rust"
    ) %}
</div>

<h3 class="skills-header">Backend</h3>
<div class="skills">
    {% call skill::get(
        link="https://flask.palletsprojects.com/",
        img_src="/static/images/skills/py-flask.png",
        name="Flask"
    ) %}
    {% call skill::get(
        link="https://fastapi.tiangolo.com/",
        img_src="/static/images/skills/fastapi.png",
        name="FastAPI"
    ) %}
    {% call skill::get(
        link="https://dotnet.microsoft.com/en-us/",
        img_src="/static/images/skills/net-core.png",
        name=".NET Core"
    ) %}
    {% call skill::get(
        link="https://actix.rs/",
        img_src="/static/images/skills/actix.png",
        name="Actix Web"
    ) %}
</div>

<h3 class="skills-header">Frontend</h3>
<div class="skills">
    {% call skill::get(
        link="https://getbootstrap.com/",
        img_src="/static/images/skills/bootstrap.png",
        name="Bootstrap"
    ) %}
    {% call skill::get(
        link="https://jquery.com/",
        img_src="/static/images/skills/jquery.png",
        name="jQuery"
    ) %}
    {% call skill::get(
        link="https://jinja.palletsprojects.com/",
        img_src="/static/images/skills/jinja.png",
        name="Jinja"
    ) %}
    {% call skill::get(
        link="https://tailwindcss.com/",
        img_src="/static/images/skills/tailwindcss.png",
        name="TailwindCSS"
    ) %}
    {% call skill::get(
        link="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor",
        img_src="/static/images/skills/blazor.png",
        name="Blazor"
    ) %}
    {% call skill::get(
        link="https://svelte.dev/",
        img_src="/static/images/skills/svelte.png",
        name="Svelte"
    ) %}
    {% call skill::get(
        link="https://react.dev/",
        img_src="/static/images/skills/react.png",
        name="React"
    ) %}
    {% call skill::get(
        link="https://pkg.go.dev/html/template",
        img_src="/static/images/skills/go-template.png",
        name="Go Template"
    ) %}
    {% call skill::get(
        link="https://djc.github.io/askama/askama.html",
        img_src="/static/images/skills/rust.png",
        name="Askama"
    ) %}
    {% call skill::get(
        link="https://htmx.org/",
        img_src="/static/images/skills/htmx.png",
        name="htmx"
    ) %}
</div>

<h3 class="skills-header">Databases</h3>
<div class="skills">
    {% call skill::get(
        link="https://www.sqlite.org/",
        img_src="/static/images/skills/sqlite.png",
        name="SQLite"
    ) %}
    {% call skill::get(
        link="https://www.mysql.com/",
        img_src="/static/images/skills/mysql.png",
        name="MySQL"
    ) %}
    {% call skill::get(
        link="https://www.mongodb.com/",
        img_src="/static/images/skills/mongodb.png",
        name="MongoDB"
    ) %}
    {% call skill::get(
        link="https://www.microsoft.com/sql-server",
        img_src="/static/images/skills/ms-sql-server.png",
        name="SQL Server"
    ) %}
</div>

<h3 class="skills-header">Deployment</h3>
<div class="skills">
    {% call skill::get(
        link="https://www.docker.com/",
        img_src="/static/images/skills/docker.png",
        name="Docker"
    ) %}
    {% call skill::get(
        link="https://cloud.google.com/",
        img_src="/static/images/skills/gcp.png",
        name="Google Cloud"
    ) %}
    {% call skill::get(
        link="https://www.cloudflare.com/",
        img_src="/static/images/skills/cloudflare.png",
        name="Cloudflare"
    ) %}
    {% call skill::get(
        link="https://www.alibabacloud.com/",
        img_src="/static/images/skills/alibaba-cloud.png",
        name="Alibaba Cloud"
    ) %}
</div>

<h3 class="skills-header">General</h3>
<div class="skills">
    {% call skill::get(
        link="https://git-scm.com/",
        img_src="/static/images/skills/git.png",
        name="Git"
    ) %}
    {% call skill::get(
        link="https://en.wikipedia.org/wiki/Regular_expression",
        img_src="/static/images/skills/regex.png",
        name="Regex"
    ) %}
    {% call skill::get(
        link="https://en.wikipedia.org/wiki/Markdown",
        img_src="/static/images/skills/markdown.png",
        name="Markdown"
    ) %}
    {% call skill::get(
        link="https://www.selenium.dev/",
        img_src="/static/images/skills/selenium.png",
        name="Selenium"
    ) %}
    {% call skill::get(
        link="https://en.wikipedia.org/wiki/Bash_(Unix_shell)",
        img_src="/static/images/skills/shell.png",
        name="Shell Script"
    ) %}
    {% call skill::get(
        link="https://microsoft.com/powershell",
        img_src="/static/images/skills/powershell.png",
        name="PowerShell"
    ) %}
    {% call skill::get(
        link="https://en.wikipedia.org/wiki/Microsoft_Windows",
        img_src="/static/images/skills/windows.png",
        name="Windows"
    ) %}
    {% call skill::get(
        link="https://www.linux.org/",
        img_src="/static/images/skills/linux.png",
        name="Linux"
    ) %}
</div>
{% endblock %}
