{% extends "base.html" %}
{%- import "components/skill.html" as skill -%}
{%- import "components/seo_tags.html" as seo -%}

{% block title %}Skills{% endblock %}

{% block head %}
    {% call seo::get(
        title="Skills",
        url="https://kjhjason.com/skills",
        desc="I have experience in various programming languages, frameworks, and tools that I have used in my projects and internships. Here are some of the skills that I have acquired over the years.",
    ) %}
{% endblock %}

{% block content %}
<section>
    <h2 class="skills-header !mt-0">Languages</h2>
    <article class="skills">
        {% call skill::get(languages|as_ref) %}
    </article>
</section>

<section>
    <h2 class="skills-header">Backend</h2>
    <article class="skills">
        {% call skill::get(backend|as_ref) %}
    </article>
</section>

<section>
    <h2 class="skills-header">Frontend</h2>
    <article class="skills">
        {% call skill::get(frontend|as_ref) %}
    </article>
</section>

<section>
    <h2 class="skills-header">Databases</h2>
    <article class="skills">
        {% call skill::get(database|as_ref) %}
    </article>
</section>

<section>
    <h2 class="skills-header">Deployment</h2>
    <article class="skills">
        {% call skill::get(deployment|as_ref) %}
    </article>
</section>

<section>
    <h2 class="skills-header">General</h2>
    <article class="skills">
        {% call skill::get(general|as_ref) %}
    </article>
</section>
{% endblock %}
