{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
<h3 class="badges-header !mt-0">Languages</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://wikipedia.org/wiki/HTML">
            <img src="https://storage.kjhjason.com/skills/html.png" alt="HTML5">
        </a>
        HTML
    </div>
    <div class="badge">
        <a target="_blank" href="https://wikipedia.org/wiki/CSS">
            <img src="https://storage.kjhjason.com/skills/css.png" alt="CSS3">
        </a>
        CSS
    </div>
    <div class="badge">
        <a target="_blank" href="https://wikipedia.org/wiki/JavaScript">
            <img src="https://storage.kjhjason.com/skills/js.png" alt="JavaScript">
        </a>
        Javascript
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.python.org/">
            <img src="https://storage.kjhjason.com/skills/python.png" alt="Python">
        </a>
        Python
    </div>
    <div class="badge">
        <a target="_blank" href="https://en.wikipedia.org/wiki/C%2B%2B">
            <img src="https://storage.kjhjason.com/skills/cpp.png" alt="C++">
        </a>
        C++
    </div>
    <div class="badge">
        <a target="_blank" href="https://go.dev/">
            <img class="!w-14 !h-auto" src="https://storage.kjhjason.com/skills/go.png" alt="Go">
        </a>
        Go/Golang
    </div>
    <div class="badge">
        <a target="_blank" href="https://learn.microsoft.com/en-us/dotnet/csharp/">
            <img src="https://storage.kjhjason.com/skills/csharp.png" alt="C#">
        </a>
        C#
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.typescriptlang.org/">
            <img src="https://storage.kjhjason.com/skills/ts.png" alt="TypeScript">
        </a>
        TypeScript
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.rust-lang.org/">
            <img src="https://storage.kjhjason.com/skills/rust.png" alt="Rust">
        </a>
        Rust
    </div>
</div>

<h3 class="badges-header">Backend</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://flask.palletsprojects.com/">
            <img src="https://storage.kjhjason.com/skills/py-flask.png" alt="Flask">
        </a>
        Flask
    </div>
    <div class="badge">
        <a target="_blank" href="https://fastapi.tiangolo.com/">
            <img src="https://storage.kjhjason.com/skills/fastapi.png" alt="FastAPI">
        </a>
        FastAPI
    </div>
    <div class="badge">
        <a target="_blank" href="https://dotnet.microsoft.com/en-us/">
            <img src="https://storage.kjhjason.com/skills/net-core.png" alt=".Net">
        </a>
        .NET Core
    </div>
</div>

<h3 class="badges-header">Frontend</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://getbootstrap.com/">
            <img src="https://storage.kjhjason.com/skills/bootstrap.png" alt="Bootstrap">
        </a>
        Bootstrap
    </div>
    <div class="badge">
        <a target="_blank" href="https://tailwindcss.com/">
            <img src="https://storage.kjhjason.com/skills/tailwindcss.png" alt="TailwindCSS">
        </a>
        TailwindCSS
    </div>
    <div class="badge">
        <a target="_blank" href="https://jquery.com/">
            <img src="https://storage.kjhjason.com/skills/jquery.png" alt="jQuery">
        </a>
        jQuery
    </div>
    <div class="badge">
        <a target="_blank" href="https://jinja.palletsprojects.com/">
            <img src="https://storage.kjhjason.com/skills/jinja.png" alt="Jinja">
        </a>
        Jinja
    </div>
    <div class="badge">
        <a target="_blank" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">
            <img src="https://storage.kjhjason.com/skills/blazor.png" alt="Blazor">
        </a>
        Blazor
    </div>
    <div class="badge">
        <a target="_blank" href="https://svelte.dev/">
            <img src="https://storage.kjhjason.com/skills/svelte.png" alt="Svelte">
        </a>
        Svelte
    </div>
    <div class="badge">
        <a target="_blank" href="https://react.dev/">
            <img src="https://storage.kjhjason.com/skills/react.png" alt="React">
        </a>
        React
    </div>
    <div class="badge">
        <a target="_blank" href="https://pkg.go.dev/html/template">
            <img src="https://storage.kjhjason.com/skills/go-template.png" alt="Go Template Logo by jinliming2">
        </a>
        Go Template
    </div>
    <div class="badge">
        <a target="_blank" href="https://htmx.org/">
            <img src="https://storage.kjhjason.com/skills/htmx.png" alt="React">
        </a>
        htmx
    </div>
</div>

<h3 class="badges-header">Databases</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://www.sqlite.org/">
            <img src="https://storage.kjhjason.com/skills/sqlite.png" alt="SQLite">
        </a>
        SQLite
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.mysql.com/">
            <img src="https://storage.kjhjason.com/skills/mysql.png" alt="MySQL">
        </a>
        MySQL
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.mongodb.com/">
            <img src="https://storage.kjhjason.com/skills/mongodb.png" alt="MongoDB">
        </a>
        MongoDB
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.microsoft.com/sql-server">
            <img src="https://storage.kjhjason.com/skills/ms-sql-server.png" alt="Microsoft SQL Server">
        </a>
        SQL Server
    </div>
</div>

<h3 class="badges-header">Deployment</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://www.docker.com/">
            <img src="https://storage.kjhjason.com/skills/docker.png" alt="Docker">
        </a>
        Docker
    </div>
    <div class="badge">
        <a target="_blank" href="https://cloud.google.com/">
            <img src="https://storage.kjhjason.com/skills/gcp.png" alt="Google Cloud">
        </a>
        Google Cloud
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.cloudflare.com/">
            <img src="https://storage.kjhjason.com/skills/cloudflare.png" alt="Cloudflare">
        </a>
        Cloudflare
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.alibabacloud.com/">
            <img src="https://storage.kjhjason.com/skills/alibaba-cloud.png" alt="Alibaba Cloud">
        </a>
        Alibaba Cloud
    </div>
</div>

<h3 class="badges-header">General</h3>
<div class="badges">
    <div class="badge">
        <a target="_blank" href="https://git-scm.com/">
            <img src="https://storage.kjhjason.com/skills/git.png" alt="Git">
        </a>
        Git
    </div>
    <div class="badge">
        <a target="_blank" href="https://en.wikipedia.org/wiki/Regular_expression">
            <img src="https://storage.kjhjason.com/skills/regex.png" alt="Regex">
        </a>
        Regex
    </div>
    <div class="badge">
        <a target="_blank" href="https://en.wikipedia.org/wiki/Markdown">
            <img src="https://storage.kjhjason.com/skills/markdown.png" alt="Markdown">
        </a>
        Markdown
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.selenium.dev/">
            <img src="https://storage.kjhjason.com/skills/selenium.png" alt="Selenium">
        </a>
        Selenium
    </div>
    <div class="badge">
        <a target="_blank" href="https://en.wikipedia.org/wiki/Bash_(Unix_shell">
            <img src="https://storage.kjhjason.com/skills/shell.png" alt="Shell Script">
        </a>
        Shell Script
    </div>
    <div class="badge">
        <a target="_blank" href="https://microsoft.com/powershell">
            <img src="https://storage.kjhjason.com/skills/powershell.png" alt="PowerShell">
        </a>
        PowerShell
    </div>
    <div class="badge">
        <a target="_blank" href="https://en.wikipedia.org/wiki/Microsoft_Windows">
            <img src="https://storage.kjhjason.com/skills/windows.png" alt="Windows">
        </a>
        Windows
    </div>
    <div class="badge">
        <a target="_blank" href="https://www.linux.org/">
            <img src="https://storage.kjhjason.com/skills/linux.png" alt="Linux">
        </a>
        Linux
    </div>
</div>
{% endblock %}
