<!DOCTYPE html>
<html lang="en" class="dark:text-white dark:bg-[#111010]">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | KJHJason</title>
    <link rel="stylesheet" href="/static/css/styles.css" nonce="{{ common.nonce }}" />
    <link nonce="{{ common.nonce }}" rel="stylesheet" href="/static/css/sweetalert2.min.css" />
    {% block styles %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/light/apple-touch-icon.png" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo/light/favicon-32x32.png" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/light/favicon-16x16.png" media="(prefers-color-scheme: light)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/dark/apple-touch-icon.png" media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo/dark/favicon-32x32.png" media="(prefers-color-scheme: dark)" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/dark/favicon-16x16.png" media="(prefers-color-scheme: dark)" />
    <script src="/static/js/htmx.org.min.js" nonce="{{ common.nonce }}"></script>
    <script src="/static/js/htmx-ext-response-targets.js" nonce="{{ common.nonce }}"></script>
    <script async src="/static/js/sweetalert2.min.js" nonce="{{ common.nonce }}"></script>
    <script nonce="{{ common.nonce }}" src="/static/js/base.js"></script>

    <!-- https://developers.google.com/tag-platform/security/guides/consent?consentmode=advanced#implementation_example -->
    <script nonce="{{ common.nonce }}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}

        // deny all Google-related cookies by default
        gtag("consent", "default", {
            "ad_user_data": "denied",
            "ad_personalization": "denied",
            "ad_storage": "denied",
            "analytics_storage": "denied",
        });
    </script>
    <script nonce="{{ common.nonce }}" src="/static/js/gtag.js"></script>

    <!-- Google tag (gtag.js) -->
    <script nonce="{{ common.nonce }}" async src="https://www.googletagmanager.com/gtag/js?id=G-917Z2B5TJY"></script>
    <script nonce="{{ common.nonce }}">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());

        gtag("config", "G-917Z2B5TJY");
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include "components/go_to_top_btn.html" %}
    <div class="antialiased max-w-2xl mb-4 md:flex-row mx-4 mt-8 lg:mx-auto">
        <div class="min-w-0 mt-6 px-2 md:px-0">
            <header>
                {% include "components/nav.html" %}
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
            <footer>
                {% include "components/footer.html" %}
            </footer>
        </div>
    </div>
    {% include "components/cookie_banner.html" %}
    {% block scripts %}{% endblock %}
</body>
</html>
