{% macro get(title, issuer, link, date, expiry, cred_id, img_src, img_alt) %}
    <div class="card accent shadow-xl">
        <div class="card-body">
            <h2 class="card-title !my-2">
                {{ title }}
            </h2>
            <p class="!my-0 text-sm">
                <a href="{{ link }}" target="_blank" class="btn-text-link" title="Verify">
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"/>
                    </svg>
                </a>
                <br />
                {{ issuer }}
                <br />
                Issued: {{ date }}
                {% if !expiry.is_empty() %}
                    <br />
                    Expires: {{ expiry }}
                {% endif %}
                <br />
                Credential ID: {{ cred_id }}
            </p>
        </div>
        <figure>
            <img class="h-48 sm:h-64 w-full object-cover object-center" src="{{ img_src }}" alt="{{ img_alt }}" />
        </figure>
    </div>
{% endmacro %}
