<div id="cookie-consent" class="accent fixed inset-x-0 bottom-0 z-40 flex flex-col items-center justify-center text-black dark:text-white p-4 sm:p-6 lg:p-8 opacity-0 transition-opacity duration-500">
    <p class="text-lg text-left md:text-center mb-4">
        This website does not collect any user information, except through <a class="btn-text-link" href="https://marketingplatform.google.com/about/analytics/" target="_blank">Google Analytics</a>, which uses cookies to analyse traffic and understand where visitors are coming from.
        <br />
        Please read Google's <a class="btn-text-link" href="https://policies.google.com/technologies/cookies" target="_blank">Privacy Policy</a> for more information.
    </p>
    <div class="flex flex-wrap gap-2">
        <button hx-on:click="acceptCookieConsent()" class="btn btn-success">
            I Consent
        </button>
        <button hx-on:click="declineCookieConsent()" class="btn btn-danger">
            I Decline
        </button>
    </div>
</div>
