<div class="collapse collapse-arrow accent">
    <input type="radio" name="profile-accordion" hx-on:click="get2FaSecretFromServer()" /> 
    <div class="collapse-title text-xl font-medium">
        Setup Two-Factor Authentication
    </div>
    <div class="collapse-content"> 
        <div id="twofa-alert" class="my-4"></div>
        <img id="two-fa-content-qr" class="mx-auto w-[70%] sm:w-[50%] h-auto" src="https://storage.kjhjason.com/images/misc/loading.webp" alt="animated loading Bocchi the slug image" />
        <form
            hx-post="/api/admin/setup-2fa"
            hx-headers='{{ csrf_header_json|safe }}'
            hx-target="#two-fa-setting"
            hx-target-error="#twofa-alert"
            hx-on::after-request="turnstile.reset()"
        >
            <div class="collapse accent">
                <input type="checkbox" hx-on:click="toggleShowHideSecretText()" /> 
                <div class="collapse-title text-center !px-6">
                    <span id="two-fa-showhide-text">Show</span> Secret
                </div>
                <div class="collapse-content text-left sm:text-center"> 
                    <button class="btn-text-link break-words break-all" 
                        id="two-fa-content-secret"
                        type="button"
                        hx-on:click="copySecretToClipboard()"
                    ></button>
                    <input type="hidden" name="secret" id="two-fa-content-secret-input" />
                </div>
            </div>

            <label for="totp-code" class="block mb-2 text-sm font-medium text-neutral-900 dark:text-white">Code:</label>
            <input type="text" name="totp-code" id="totp-code" class="input-theme mb-4" placeholder="123456" required minlength="6" maxlength="6" pattern="[0-9]{6}" />

            <label for="two-fa-current-password" class="block my-2 text-sm font-medium text-neutral-900 dark:text-white">Current Password:</label>
            <input type="password" name="current-password" id="two-fa-current-password" class="input-theme mb-4" placeholder="AbcdEF@H1!" required minlength="8" maxlength="64" />

            <div class="cf-turnstile" data-sitekey="{{ crate::constants::constants::CF_TURNSTILE_SITE_KEY }}"></div>
            <div class="mt-4 w-full text-right">
                <button type="submit" class="btn btn-success">Enable 2FA</button>
            </div>
        </form>
    </div>
</div>
