<button id="go-to-top-btn" aria-label="Go to top"
    type="button"
    class="cursor-pointer
    select-none
    h-[50px] w-[50px]
    bottom-[50px] md:bottom-[30px] right-[30px] 
    bg-[#949494] hover:bg-[#333]
    rounded-md fixed z-[45]"
>   
    <svg class="mx-auto w-12 h-12 text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 14-4-4-4 4"/>
    </svg>
</button> 
