{{ define "title" }}About Me{{ end }}

{{ define "content" }}
    <h1 class="mb-8 text-2xl font-medium tracking-tighter">Hello there, I'm Jason 👋</h1>
    <p>
        I'm an aspiring software engineer and soon to be a student at the Singapore Management University from 2026/2027 to get my Bachelor of Science (Computer Science) degree after my National Service.
    </p>
    <p>
        Although I hold a diploma in Cybersecurity & Digital Forensics from Nanyang Polytechnic, the knowledge I gained from my diploma has helped me understand the importance of security in software development. My tenure at Nanyang Polytechnic has instilled in me a passion for developing software with security in mind, by writing secure code and following best security practices such as the <a href="https://owasp.org/www-project-top-ten/" target="_blank">OWASP Top 10</a> during my development process.
    </p>

    <div class="grid grid-cols-2 gap-4 my-8">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/mirai-1.png" alt="Project: Mirai Chat Feature">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/cultured-downloader-python-old.png" alt="Project: Cultured Downloader Python CLI App">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/mirai-2.png" alt="Project: Mirai Register Page">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="https://storage.kjhjason.com/web/cultured-downloader.png" alt="Project: Cultured Downloader GUI App">
            </div>
        </div>
    </div>
{{ end }}
